

html, body {
  height: 100%;
  width: 100%;
}
  
div {
  display: block;

}
table {
  width: 100%;
  height: 50%;
}

label.error { 
    float: none; color: red; 
    padding-left: .5em;
    vertical-align: top; 
    display: block;
 }​

#logout {
  margin: 20px 20px 20px 20px;
  float: right;
  background-color: #6c757d;
    color: white;
}

.container-login {
    width: 800px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
  }

.table {
  text-align: center;
    border: 1px solid grey;
    height: 250px;
    padding: 25px 0;
}


.add-btn{
  float: right;
  background-color: #007bff;
    color: white;
}



#options {
    vertical-align: text-top;
}
#add {
    float: right;
    display: inline-block;
}
* {
    box-sizing: border-box;
}

.openButton {
    color: black;
    cursor: pointer;
}

.loginPopup {
    position: relative;
    text-align: center;
    width: 100%;
}

.formPopup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
}

.formContainer {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
}

    .formContainer input[type=text],
    .formContainer input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 20px 0;
        border: none;
        background: #eee;
    }

        .formContainer input[type=text]:focus,
        .formContainer input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

    .formContainer .btn {
        padding: 12px 20px;
        border: none;
        background-color: darkorchid;
        color: #fff;
        cursor: pointer;
        width: 100%;
        margin-bottom: 15px;
        opacity: 0.8;
    }

    .formContainer .cancel {
        background-color: darkviolet;
    }

    .formContainer .btn:hover,
    .openButton:hover {
        opacity: 1;
    }


/*- -------- Global Styles --------- */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.thick-br {
  margin-bottom: 50px;
}

.thick-hr {
  border-top: 15px solid;
    margin-bottom: 0px;
    margin-top: 0px;

}

h1, h2, h3, h4 ,h5, h6 {
    margin: 3px 0;
}

.center {
  text-align: center;
}

.container{
    width: 1400px;
    margin: auto;
}


main {
  background-color: white;
}

.main-color {
  background-color: #E0E0E0;
}



.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

header {
    height: 240px;
    text-align: center;
    overflow: hidden;
    background-color: indigo;
    color: white;
}

header h1 {
    display: inline-block;
    padding: 95px 50px 95px 260px;
    font-size: 50px;
}

footer {
    background-color: black;
    color: grey;
    text-align: center;
    padding: 15px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

header #logo {
    width: 200px;
    float: right;
    display: block;
    object-fit: cover;
    margin: 10px 100px 10px 50px;
}
