html, body {
  height: 100%;
  width: 100%;
}

#container {
  background-color: lightgrey;
  width: 90%;
  height: 90%;
  top: 5%;
  text-align: center;
  position: relative;
  margin: auto;
  border: 5px solid black;
}

#filter {
  position: absolute;
  top: 30%;
  left: 35%;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
}

#map {
  background-color: lightcyan;
  width: 100%;
  height: 60%;
  position: absolute;
  top: 15%;
}

#content {
  background-color: lightgreen;
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0px;
}

.filter {
  background-color: lightblue;
  width: 100%;
  height: 15%;
  position: absolute;
  top: 0px;
}

#chartdiv {
  position: relative;
  width: 100%;
  height: 100%;
}

.content {
  position: absolute;
  top: 50%;
  left: 45%;
  font-size: 35px;
  font-family: sans-serif;
  font-weight: bold;
}

.btn {
  border: none  ;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}